@media (max-width: 870px) {
  .app {
    grid-template-columns: minmax(300px, 400px) !important;
  }
  .title-actions__desc {
    font-size: 1.1rem;
  }
  .form-container-wrapper {
    margin-top: 3rem;
  }
  .fieldset-input__container {
    margin-bottom: 1rem;
  }
  .logo-container-img {
    width: 70px !important;
  }
  .logo-caption {
    font-size: 1.3rem;
  }
  .sidebar-container {
    display: none;
  }
  .auth-connections {
    line-height: 1.5;
  }
  .submit-btn-container {
    height: 40px;
  }
  .submit__btn {
    min-width: 100px;
  }
  .submit__btn:not(.loading)::before {
    content: "";
    display: none;
  }
}
@media (max-width: 400px) {
  .step__item__title {
    font-size: 0.99rem;
  }
  .title-input {
    font-size: 1.3rem;
  }
  .upload-result__file-success,
  .upload-result__file-size {
    display: none;
  }
  .add_file__desc__title {
    font-size: 1.2rem;
  }
}
