@import url(./reset-css.css);
@import url(./fonts.css);
@import url(./mini-styles.css);
@import url(./login-form.css);
@import url(./sidebar.css);
@import url(./media-query.css);
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: var(--text-primary);
  font-size: 1.5rem !important;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: #e9eef1;
  /* background: #54ddff; */
  padding: 2rem 3rem;
}
.app {
  display: grid;
  max-width: 1000px;
  min-height: 600px;
  margin: 3rem auto 3rem auto;
  background-color: var(--color-white-100);
  border-radius: 1rem;
  box-shadow: 0 5px 50px rgb(0 0 0 / 10%);
  grid-template-columns: minmax(400px, 5fr) minmax(400px, 4fr);
}
.loader {
  position: absolute;
  border: 2px solid var(--color-white-100);
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* form container login */
.form-container {
  padding: 3rem;
  background-color: var(--color-white-100);
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.form-container-logo {
  width: 100%;
  /* background-color: aquamarine; */
}

.logo-container-img {
  width: 90px ;
  margin-bottom: 0.8rem;
}
.logo-caption {
  color: var(--color-black-50);
}
